---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=10&screen_name=hearmemihir
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="opXfTHFYAmTjOZrbsJfU1SLH8", oauth_nonce="8ae691302474c9439ffa66e9b75b1cb2",
        oauth_signature="xO5ga7jeCZ97oLlJgSRrr9vsy%2F0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1434037195", oauth_token="3232966190-s81bwnpNKpcUueN9GnSRpp9rj6nkqZE3gfgbf1v",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 11 Jun 2015 15:39:55 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Connection-Hash:
      - 42f9b69d3a0d1bfdb37d2b90875d907e
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1434038095'
      X-Response-Time:
      - '123'
      X-Transaction:
      - 6267e234227c9569
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Jun 11 15:36:45 +0000 2015","id":609021460733128704,"id_str":"609021460733128704","text":"My
        Marvelus Superhero match is Nick Fury! Who''s yours?\nhttp:\/\/t.co\/MEYpEESGzD","source":"\u003ca
        href=\"https:\/\/marvel-us.herokuapp.com\/\" rel=\"nofollow\"\u003emarvelus\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":309565235,"id_str":"309565235","name":"mihir
        parikh","screen_name":"hearmemihir","location":"University of Washington","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":44,"friends_count":36,"listed_count":0,"created_at":"Thu
        Jun 02 09:15:19 +0000 2011","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":16,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/3171959578\/d6e0b218fda7ddd1e90dda442dd889ac_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/3171959578\/d6e0b218fda7ddd1e90dda442dd889ac_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/309565235\/1359325820","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/MEYpEESGzD","expanded_url":"http:\/\/marvel-us.herokuapp.com\/","display_url":"marvel-us.herokuapp.com","indices":[55,77]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Mon
        Jun 08 19:55:37 +0000 2015","id":607999443179143168,"id_str":"607999443179143168","text":"I
        like using the twitter API","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":309565235,"id_str":"309565235",[...]
- request:
    method: post
    uri: http://sentiment.vivekn.com/api/text/
    body:
      encoding: ASCII-8BIT
      string: txt=My%20Marvelus%20Superhero%20match%20is%20Nick%20Fury%21%20Who%27s%20yours%3F%0Ahttp%3A%2F%2Ft.co%2FMEYpEESGzD.%20I%20like%20using%20the%20twitter%20API.%20The%20weather%20here%20changes%20so%20quickly%20in%20the%20summer..%20Great%20times%21.%20Had%20a%20great%20day.%20Raining.%20%20Money%2C%20cars%2C%20dolla%20billz%21.%20doin%20it%20wright%20the%20rong%20way..%20Tracy%20is%20cool%21.%20I%20have%20a%20twitter%20account%3F.%20My%20music%20prof%20just%20used%20the%20word%20%26quot%3Bjizz%26quot%3B%20in%20class..%20I%20luv%20the%20%23huskies%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"result\": {\n    \"confidence\": \"60.2548\", \n    \"sentiment\":
        \"Neutral\"\n  }\n}"
  recorded_at: Thu, 11 Jun 2015 15:39:55 GMT
[...]
- request:
    method: post
    uri: http://access.alchemyapi.com/calls/text/TextGetTextSentiment
    body:
      encoding: US-ASCII
      string: |-
        apikey=45d22c834e01a7771e79fd6b6f4e80f0bffcfbbd&text=My Marvelus Superhero match is Nick Fury! Who's yours?
        http://t.co/MEYpEESGzD. I like using the twitter API. The weather here changes so quickly in the summer.. Great times!. Had a great day. Raining.  Money, cars, dolla billz!. doin it wright the rong way.. Tracy is cool!. I have a twitter account?. My music prof just used the word "jizz" in class.. I luv the #huskies!&outputMode=json
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - '12.15'
      X-Alchemyapi-Key:
      - 45d22c834e01a7771e79fd6b6f4e80f0bffcfbbd
      X-Alchemyapi-Params:
      - sentiment=0&knowledgeGraph=0&detectedLanguage=english&submitLanguage=detect
      X-Alchemyapi-Status:
      - OK
      X-Alchemyapi-Text-Content-Size:
      - '372'
      X-Alchemyapi-Total-Transactions:
      - '1'
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"totalTransactions\": \"1\",\n    \"language\": \"english\",\n    \"docSentiment\":
        {\n        \"mixed\": \"1\",\n        \"score\": \"0.367448\",\n        \"type\":
        \"positive\"\n    }\n}\r\n"
  recorded_at: Thu, 11 Jun 2015 15:39:56 GMT
recorded_with: VCR 2.9.3
